:root {
    --primary-color: #f2303a;
    --primary-btn : rgb(071,001,005);
    --font-base : 'poppins';

}

body {
    font-family: var(--font-base);
   display: flex;
   flex-direction: column;
   min-height: 100vh;
   background-color: rgb(43, 220, 20);
   
}

img {
    width:100%;
}

hr{
    height: 12px;
}

.bg-light {
    background-color: var(--primary-color) !important;
    
}



nav li {
    position: relative;
}

 nav .active::after{
    content: '';
    position:absolute;
    top:80%;
    left:50%;
    transform: translateX(-50%);
    width: 3rem;
    height: 2px;
    background-color: #fff;
}

/* hero */
.hero {
    background-image: url(/img/hero.png);
    height: 90vh;
    display: grid;
    color:white;
    place-content: center;
    background-repeat: repeat-x;
    text-align: center;
    width: 100%;
    background-size: cover;
}

.hero > * {
    transform: translateY(-4rem);
}

.hero > .hero-title {
    font-size: clamp(3rem,10vw,9rem);
}

.hero > .hero-subtitle {
    font-style: italic;
}

/* paragrap */

article  p{
    font-family: 'roboto';
}


/* aside */
.relate-title {
    font-size: 1.2rem;
    overflow-wrap: break-word;
    font-weight: semibold;
    display: block;
    padding:.2rem .5rem;
    background-color: var(--primary-color);
    /* width: max-content; */
    border-radius: 10px 10px 0 0 ;
    color:white;

}

.relate-img {
    object-fit: cover;
    height: 5rem;
}

/* search */










/* post */

.post-title {
    font-size: clamp(1.8rem,2vw,2rem);
    overflow-wrap: break-word
    
}


/* footer */

footer {
    margin-top: auto;
}


/* btn */

.btn-success{
    background-color: var(--primary-btn);
    color:white;
}


.search-icon-mobile{
    display: none;
}


/* about */

.person {
    border: 2px solid black;
    width: max-content;
    margin-inline: auto;
    border-radius: 20%;
}

.bi-person {
    font-size: 6rem;
}

.about-desc {
    border: 2px solid black;
    padding:.2rem .5rem;
    margin-top: .5rem;
    border-radius: 20px;
}

/* tag */

.tag {
    color:grey;
    text-decoration: none;
    border:1px solid grey;
    padding: .2rem .5rem;
    border-radius: .5rem;
}

.tag:hover {
    color:var(--primary-color);
    border-color: var(--primary-color);
}

@media screen and (max-width:992px) {

    .hero {
        height: 10vh;
        overflow: hidden;
    }
    nav .active::after{
        display:none;
    }


    /* hidden-item */
    nav .search-container{
        display: none;
    }

    /* aside */
    .relate-title {
        font-size: 1.5rem;
    }
    
    /* hero */
    .hero {
        height: 60vh;
    }
    .search-icon-mobile{
        display: block;
    }
    .search-icon-desktop{
        display: none;
    }
    
}