{{define "main"}}
<article>
    <section class="article-header">
        <h1 class="post-title">{{.Title}}</h1>
        
        <p class="read-time">
            Waktu Baca: {{ math.Round (div (countwords .Content) 200.0) }}
            minutes.
        </p>

    </section>
    <section class="body">
        <p class="date badge bg-dark fs-6">
            Post on {{ .Date.Format "January 2, 2006" }}

        </p>
        {{.Content}}

        <section class="tags">
            <span>Tags</span>
            in
            {{ range .Params.tags }}
            <a class="tag" href="/tags/{{ . | urlize }}">{{ . }}</a>
            {{ end }}
        

    </section>
   
    <section class="comment">
        <h3>comment</h3>
        {{ template "_internal/disqus.html" . }}

    </section>

    
</article>



{{end}}