<section class="related">
    {{ $related := .Site.RegularPages.Related . | first 5 }}
    {{ with $related }}
    <h3 class="text-center">Related pages</h3>
    <ul class="list-unstyled d-flex gap-3 flex-column">
        {{ range . }}
        <li class="position-relative">
            <a href="{{ .RelPermalink }}" class=" relate-title text-decoration-none">{{ .Title }}</a>
            <img src="{{.Params.cover.image}}" alt="{{.Params.cover.alt}}" class="relate-img">

        </li>
        {{ end }}
    </ul>
    {{ end }}

</section>