<article class="my-3">
    <div class="post-img position-relative">
        <span class="position-absolute start-0 badge badge-">{{.Params.label}}</span>
    </div>
    <h2 class="my-2  ">
        <a href="{{ .RelPermalink }}" class="text-black text-decoration-none">{{ .Title }}</a>
    </h2>
    <time class="badge bg-secondary fs-6 bg-black mb-2">
        {{ .Date | dateFormat "January" }}
        {{ .Date | dateFormat "2" }}
    </time>

    {{.Summary}}


    <a href="{{ .RelPermalink }}" role="button" class="btn btn-sm btn-outline-dark">Read More</a>


</article>